<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%=title%></title>
</head>
<body>
    <h1>Sign in</h1>
    <div class="form-wrapper">
        <form class="sign-up-form" action="/sign-in" method="POST">
            <div>
                <label for="username">Username</label>
                <input name="username" type="text">
            </div>
            <div>
                <label for="password">Password</label>
                <input name="password" type="password">
            </div>
            <button type="submit">Sign In</button>
            <p>Don't have an account? <a class="sign-up" href="/sign-up">Sign up</a></p>
        </form>
    </div>
</body>
</html>