body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgb(45, 45, 46);
}

::-webkit-scrollbar {

  width: 0.8em;
}

::-webkit-scrollbar-track {
  background-color: rgb(37, 37, 37);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(67, 66, 73);
  border-radius: 100vw;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: #00B7FF;
}

h1 {
  text-align: center;
}

p, h1 {
  color: white;
}
form p {
  text-align: center;
}
a.sign-up {
  color: rgb(223, 102, 46);
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-panel {
  display: flex;
  gap: 20px;
}
.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 25%;
  min-width: 230px;
}

.sign-up-form > div {
  position: relative;
}

.sign-up-form > div label {
  position: absolute;
  top: 3px;
  font-size: .7rem;
  padding-left: 5px;
  color: gray;
}

form input,
form textarea {
  padding: 15px 12px 10px 5px;
  border-radius: 5px;
  border: solid 2px rgb(77, 76, 83);
  background-color: rgb(67, 66, 73);
  color: white;
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  background: rgb(67, 66, 73);
}

input:focus,
textarea:focus {
  outline: solid 2px rgb(223, 102, 46);
}

.sign-up-form button,
button {
  border-radius: 20px;
  border: none;
  background: rgb(223, 102, 46);
  color: white;
  font-weight: bold;
  padding: 12px;
}

button a {
  text-decoration: none;
  color: white;
}

.message-list {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  width: 40%;
  min-width: 300px;
  gap: 20px;
  list-style: none;
  max-height: 360px;
  overflow: scroll;
  overflow-x:hidden;
}

.message-list li {
  padding: 20px;
  background-color: rgb(37, 37, 37);
  color: white;
  border: solid 1px rgb(49, 49, 49);
  border-radius: 25px;
}

.message-list li:nth-child(even) {
  align-self: left;
  text-align: left;
  min-width: 200px;
  width: 70%;
  border-bottom-right-radius: 0px;

}

.message-list li:nth-child(odd) {
  align-self: flex-end;
  width: 50%;
  min-width: 160px;
  border-bottom-left-radius: 0px;

}
.message-list li > p:nth-child(1) {
  margin: 0;
  font-size: 1.2rem;
  text-decoration: underline;
}

.message-list li > p:nth-child(2) {

  font-size: 0.8rem;
}


.message-list li > hr {
  opacity: 10%;
  height: 1px;
}

.message-list li > p:nth-child(4),
.message-list li > p:nth-child(5) {
  font-size: 0.6rem;
}

.author-btn {
  font-size: 0.7rem;
  padding: 5px 7px;
}